/* Start footer css */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer p {
    margin: 0;
    text-align: center;
    font-size: large;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .footer p {
        font-size: small;
    }
}
/* End footer css */