/* Start Global Components Styles */
.section {
  padding: 60px 40px;
  min-height: 100vh;
}

.section h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  color: #333;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
  color: white;
}

.filter-buttons {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 10px;
  margin-bottom: 30px;
}

/* Styles for card layout and hover effects */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  text-align: center; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-box:hover {
  transform: translateY(-5px); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
}

.card-box h5 {
  margin-top: 0;
  color: #007bff;
  font-size: 1.5rem;
}

/* Additional styles for card content */
.card-box p {
  margin-bottom: 0;
  color: #666; 
}

/*
  Media queries for responsive design 
  Adjust width for tablets and small screens
*/
@media (max-width: 768px) {
  .card-box {
    width: calc(50% - 20px); /*  */
  }
}

/* Adjust width for mobile screens */
@media (max-width: 480px) {
  .card-box {
    width: 100%; 
  }

  .card h1 {
    font-size: 2.5rem; 
  }
}
/* End Global Components Styles */